<div class="main valign-wrapper green lighten-3"><div class="card-panel frame">
  <div class="card">
    <div class="row top">
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
    </div>
    
    <div class="row">
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
    </div>

    <div class="row">
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
    </div>
    
    <div class="row">
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
    </div>

    <div class="row">
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
    </div>
    
    <div class="row">
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
    </div>
    <div class="row">
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
    </div>
    
    <div class="row bottom">
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
      <div class="white left"></div>
      <div class="black left"></div>
    </div>
  </div></div>
</div>