<li class="collection-item avatar">
  <%= image_tag avatar_url(player), class: "circle" %>
  <p> <%= color %> Player: <%= player.username %> </p>
  <p> Record: <%= "#{player.wins} - #{player.losses}" %></p>
</li>
