<div id = "hero" class = "center card-panel col s3 white-text formatting">
  <h3 id = "heading">About</h3>
  <div id = "about_text">
    Chess was developed by a team of 5 remote developers including:
      <ul class = "center">
        <li><a href = "#">Ben Zuba</a></li>
        <li><a href = "#">David Stonikas</a></li>
        <li><a href = "#">Jared Gilbert</a></li>
        <li><a href = "#">Rosie Highsmith</a></li>
        <li><a href = "#">Ryan Wooff</a></li>
      </ul>
    We built this app with Agile team methodologies under the guidance of software engineer, Mike Coutermarsh, of ProductHunt. It was built for the Firehose Project. Features include a Rails backend, Materialize frontend, JavaScript for piece moves without full page refresh. 
  </p>
</div>