<div id = "hero" class = "center card-panel col s3 white-text formatting">
  <h3 id = "heading">About</h3>
  <div id = "about_text">
    Konquer is a Rails 4 based application where users challenge one another to a game of chess. You can check out the code on <a href= "https://github.com/checkmates1/chess-">GitHub</a>. <br/><br/>It was crafted in an Agile team of five developers under the guidance of <a href = "https://github.com/mscoutermarsh">Mike Coutermarsh</a>, Software Engineer at Product Hunt.Learn more about the developers on their personal GitHub pages:
      <ul class = "center">
        <li><a href = "https://github.com/benzuba11">Ben Zuba</a></li>
        <li><a href = "https://github.com/dasstoni">David Stonikas</a></li>
        <li><a href = "https://github.com/jaredAnders">Jared Gilbert</a></li>
        <li><a href = "https://github.com/rosiehighsmith">Rosie Highsmith</a></li>
        <li><a href = "https://github.com/ryanveroniwooff">Ryan Wooff</a></li>
      </ul>
    We built this app with Test-Driven Development workflow, regularly performed code reviews and pair-programmed to ensure a consistent, well-tested and team-friendly codebase. We hope you enjoy the game!
  </p>
</div>