<div class="card col s12 center">
  <div class="card-panel form-control col s6">
    <%= simple_form_for @game do |f| %>
      <div class="container">
      <%= f.input :name, required: true, label: 'Enter a name', error: 'Game MUST have name LESS than 10 characters!', input_html: { maxlength: 10 } %>
      </div>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>