/*
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 // $primary-color: color("blue", "lighten-2") !default;
 // $secondary-color: color("yellow", "base") !default;
 @import 'materialize','https://fonts.googleapis.com/css?family=Bungee+Shade', 'https://fonts.googleapis.com/icon?family=Material+Icons';

 nav {
  background-color: #222;
 }

 a.brand-logo {
  font-family: 'Bungee Shade', cursive;
  margin-left: 10px;
  color: #34d8bc;
 }

 .waves-effect {
  margin: 5px;
 }

 #hero {
    background: rgba(4,10,10,0.8);
    margin-top: 50px;
    height: 75vh;
 }

 #available-games {
  background: rgba(4,10,10,0.8);
 }

 #about_text {
  text-align: left;
  width: 60%;
  margin: 30px auto;
 }

 h4 {
  font-weight: 100;
 }

 nav ul a {
  text-transform: uppercase;
 }

 .game-listing {
  list-style-type: none;
 }
