// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway');

div.frame{
  background:url(frame.png) no-repeat;
  background-size: cover;
  margin: 0 auto;
}
div.row div.black {
  background:url(wood.png);
}
.formatting{
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}

#heading {
  margin-top: 10vh;
  margin-bottom: 0;
}

#subtitle {
  margin: 10px 0 40px 0;
}

.board {
  flex: 1 0 auto;
  justify-content: center;
}

 @media screen and (min-width:320px)
    and (max-width:600px){
    div.row div {
    width: 2em;
    height: 2em;
    margin-bottom: -20px;
    }div.spacing {
      padding-right:10px;
      margin-left: 10px;
    }
    div.row.top {
      padding-top: -210px;
    }
}
 @media screen and (min-width:600px)
    and (max-width:720px){
    div.row div {
    width: 3em;
    height: 3em;
    margin-bottom: -20px;
    }div.spacing {
      padding: 10px;
      margin-left: 10px;
    }
}
 @media screen and (min-width:720px){
    div.row div {
    width: 4em;
    height: 4em;
    margin-bottom: -20px;
    color: black;
    font-size:14px
    }
    div.spacing {
      padding: 20px;
      margin-left: 10px;
    }
}
