// Place all the styles related to the play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Slackey');
.main-background {
  flex: 1 0 auto;
  justify-content: center;
  background:url(main.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.game-listing {
  font-family: 'Helvetica', sans-serif;
}
